# Machine Learning Artifacts
*.pkl
*.joblib
*.h5
*.pth
*.onnx
*.keras

# MLflow
mlruns/
mlflow.db

# Python
__pycache__/
*.py[cod]
*$py.class
.env
    
# Testing
.pytest_cache/
.coverage
htmlcov/

# MacOS
.DS_Store
mlflow_data.zip
project.zip
*.zip

# Data
Data/raw